* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:black;
    background-color:transparent;
    font-size:20px;
}
h1 {
    font-size:3em;
}

h2 {
    font-size:2.5em;
}

h3 {
    font-size:1.5 em;
}

p {
    font-size:1 em;
}


#pag1 > a:nth-child(1) > h1 {
    background-color: yellow;
}

#pag2 > a:nth-child(2) > h1 {
    background-color: yellow;
}

#pag3 > a:nth-child(3) > h1 {
    background-color: yellow;
}

nav {
    width:50%;
    border-color:black;
    border-style:solid;
    border-width:1px;
    background-color:gray;
}

a {
    display:inline-block;
    width:33%;
}
h1 {
    display:inline-block;
}
